*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
body{
     overflow: hidden;
     font-family: 'Courier New', Courier, monospace;
}
section{
     position: relative; 
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: radial-gradient(#f00,rgba(0,0,0,0.5)), url(https://st4.depositphotos.com/1312973/i/600/depositphotos_386864266-stock-photo-black-brick-wall-architectural-dark.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-blend-mode: multiply;
     animation: colorCheging 5s linear infinite;
}
@keyframes colorCheging {
     0%{
          filter: hue-rotate(0deg);
     }
     100%{
          filter: hue-rotate(360deg);
     }
}

section::before{
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 600px;
     height: 600px;
     background: radial-gradient(rgba(255,0,0,0.75),transparent,transparent);
     border-radius: 50%;
}
section::after{
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 800px;
     height: 800px;
     background: radial-gradient(rgba(255,0,0,0.75),transparent,transparent);
     border-radius: 50%;
}

.icon{
     position: relative;
     z-index: 1;
     width: 15rem;
     height: 15rem;
     color: white;
     text-align: center;
     font-weight: 100;
}
.icon svg path{
     stroke: white;
     stroke-width: 10px;
     fill: transparent;
     filter: drop-shadow(0 10px 10px #000) blur(2px);
}
h2{
     position: relative;
     font-size: 2rem;
     font-weight: normal;
     display: inline-block;
     text-shadow: 0 10px 10px #000;
     /* box-shadow: 5px 0 0 #fff; */
     border-right: solid 3px rgba(0,255,0,.75);
     /* padding-left: 5px; */
     overflow: hidden;
     animation: texTyping 4s steps(9) infinite ,
     animatedcursor 600ms steps(9) infinite;
}
@keyframes animatedcursor{
     0%{border-right-color: rgba(0,255,0,.75);}
     100%{border-right-color: transparent;}
     /* 0%{box-shadow: 5px 0 0 rgba(0,255,0,.75);}
     100%{box-shadow: transparent;} */
   }
@keyframes texTyping {
     0%,90%,100%{
          width: 0px;
     }
     30%,60%{
          width: 172.83px;
     }
}